.article {
    padding: 10px;
    background-color: var(--adaptiveBackground);
    cursor: pointer;
    transition:
        background-color 0.2s,
        transform 0.1s;

    border-radius: 12px; 

    &:hover {
        background-color: var(--adaptiveGrey100);
    }

    &:active {
        background-color: var(--adaptiveGrey200); 
        transform: scale(0.98);
    }
}

.aspect-4-1 {
    aspect-ratio: 4 / 1;
}

.aspect-5-3 {
    aspect-ratio: 5 / 3;
}

.aspect-4-3 {
    aspect-ratio: 4 / 3;
}

.aspect-square {
    aspect-ratio: 1 / 1;
}

.aspect-10-11 {
    aspect-ratio: 10 / 11;
}

.container {
    width: 100%;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }
}