@use './mixin' as *;

$light-colors: (
    adaptiveOpacity50: rgba(0, 23, 51, 0.02),
    adaptiveOpacity100: rgba(2, 32, 71, 0.05),
    adaptiveOpacity200: rgba(0, 27, 55, 0.1),
    adaptiveOpacity300: rgba(0, 29, 58, 0.18),
    adaptiveOpacity400: rgba(0, 25, 54, 0.31),
    adaptiveOpacity500: rgba(3, 24, 50, 0.46),
    adaptiveOpacity600: rgba(0, 19, 43, 0.58),
    adaptiveOpacity700: rgba(3, 18, 40, 0.7),
    adaptiveOpacity800: rgba(0, 12, 30, 0.8),
    adaptiveOpacity900: rgba(2, 9, 19, 0.91),
    adaptiveDisabledBlue500: #c9e2ff,
    adaptiveBackground: #ffffff,
    adaptiveLayeredBackground: #ffffff,
    adaptiveFloatBackground: #ffffff,
    adaptiveDimmedBackground: rgba(0, 0, 0, 0.56),
    adaptiveHairlineBorder: #e5e8eb,
    adaptiveGreyBackground: #f2f4f6,
    adaptiveGrey50: #f9fafb,
    adaptiveGrey100: #f2f4f6,
    adaptiveGrey200: #e5e8eb,
    adaptiveGrey300: #d1d6db,
    adaptiveGrey400: #b0b8c1,
    adaptiveGrey500: #8b95a1,
    adaptiveGrey600: #6b7684,
    adaptiveGrey700: #4e5968,
    adaptiveGrey800: #333d4b,
    adaptiveGrey900: #191f28,
    adaptiveGreyOpacity50: rgba(0, 23, 51, 0.02),
    adaptiveGreyOpacity100: rgba(2, 32, 71, 0.05),
    adaptiveGreyOpacity200: rgba(0, 27, 55, 0.1),
    adaptiveGreyOpacity300: rgba(0, 29, 58, 0.18),
    adaptiveGreyOpacity400: rgba(0, 25, 54, 0.31),
    adaptiveGreyOpacity500: rgba(3, 24, 50, 0.46),
    adaptiveGreyOpacity600: rgba(0, 19, 43, 0.58),
    adaptiveGreyOpacity700: rgba(3, 18, 40, 0.7),
    adaptiveGreyOpacity800: rgba(0, 12, 30, 0.8),
    adaptiveGreyOpacity900: rgba(2, 9, 19, 0.91),
    adaptiveBlue50: #e8f3ff,
    adaptiveBlue100: #c9e2ff,
    adaptiveBlue200: #90c2ff,
    adaptiveBlue300: #64a8ff,
    adaptiveBlue400: #4593fc,
    adaptiveBlue500: #3182f6,
    adaptiveBlue600: #2272eb,
    adaptiveBlue700: #1b64da,
    adaptiveBlue800: #1957c2,
    adaptiveBlue900: #194aa6,
    adaptiveBlueOpacity50: rgba(100, 168, 255, 0.15),
    adaptiveBlueOpacity100: rgba(100, 168, 255, 0.34),
    adaptiveBlueOpacity200: rgba(100, 168, 255, 0.7),
    adaptiveRed50: #ffeeee,
    adaptiveRed100: #ffd4d6,
    adaptiveRed200: #feafb4,
    adaptiveRed300: #fb8890,
    adaptiveRed400: #f66570,
    adaptiveRed500: #f04452,
    adaptiveRed600: #e42939,
    adaptiveRed700: #d22030,
    adaptiveRed800: #bc1b2a,
    adaptiveRed900: #a51926,
    adaptiveRedOpacity50: rgba(251, 136, 144, 0.15),
    adaptiveRedOpacity100: rgba(251, 136, 144, 0.34),
    adaptiveRedOpacity200: rgba(251, 136, 144, 0.7),
    adaptiveOrange50: #fff3e0,
    adaptiveOrange100: #ffe0b0,
    adaptiveOrange200: #ffcd80,
    adaptiveOrange300: #ffbd51,
    adaptiveOrange400: #ffa927,
    adaptiveOrange500: #fe9800,
    adaptiveOrange600: #fb8800,
    adaptiveOrange700: #f57800,
    adaptiveOrange800: #ed6700,
    adaptiveOrange900: #e45600,
    adaptiveYellow50: #fff9e7,
    adaptiveYellow100: #ffefbf,
    adaptiveYellow200: #ffe69b,
    adaptiveYellow300: #ffdd78,
    adaptiveYellow400: #ffd158,
    adaptiveYellow500: #ffc342,
    adaptiveYellow600: #ffb331,
    adaptiveYellow700: #faa131,
    adaptiveYellow800: #ee8f11,
    adaptiveYellow900: #dd7d02,
    adaptiveYellowOpacity50: rgba(255, 195, 66, 0.2),
    adaptiveYellowOpacity100: rgba(255, 195, 66, 0.35),
    adaptiveYellowOpacity200: rgba(255, 195, 66, 0.6),
    adaptiveGreen50: #f0faf6,
    adaptiveGreen100: #aeefd5,
    adaptiveGreen200: #76e4b8,
    adaptiveGreen300: #3fd599,
    adaptiveGreen400: #15c47e,
    adaptiveGreen500: #03b26c,
    adaptiveGreen600: #02a262,
    adaptiveGreen700: #029359,
    adaptiveGreen800: #028450,
    adaptiveGreen900: #027648,
    adaptiveGreenOpacity50: rgba(21, 196, 126, 0.15),
    adaptiveTeal50: #edf8f8,
    adaptiveTeal100: #bce9e9,
    adaptiveTeal200: #89d8d8,
    adaptiveTeal300: #58c7c7,
    adaptiveTeal400: #30b6b6,
    adaptiveTeal500: #18a5a5,
    adaptiveTeal600: #109595,
    adaptiveTeal700: #0c8585,
    adaptiveTeal800: #097575,
    adaptiveTeal900: #076565,
    adaptivePurple50: #f9f0fc,
    adaptivePurple100: #edccf8,
    adaptivePurple200: #da9bef,
    adaptivePurple300: #c770e4,
    adaptivePurple400: #b44bd7,
    adaptivePurple500: #a234c7,
    adaptivePurple600: #9128b4,
    adaptivePurple700: #8222a2,
    adaptivePurple800: #73228e,
    adaptivePurple900: #65237b,
    adaptiveBackgroundDimmed: rgba(0, 0, 0, 0.2),
    adaptiveBackgroundLevelB01: #f2f4f6,
    adaptiveBackgroundLevel01: #ffffff,
    adaptiveBackgroundLevel02: #ffffff,
    adaptiveBackgroundLevel03: #ffffff,
    adaptiveBackgroundLevel04: #ffffff,
    adaptiveBackgroundScreen: #f6f7f9,
    tGradientToTop: linear-gradient(to top, #ffffff, rgba(255, 255, 255, 0)),
    tGradientToBottom: linear-gradient(to bottom, #ffffff, rgba(255, 255, 255, 0)),
    tGradientToRight: linear-gradient(to right, #ffffff, rgba(255, 255, 255, 0)),
    tGradientToLeft: linear-gradient(to left, #ffffff, rgba(255, 255, 255, 0)),
    tLayeredGradientToTop: linear-gradient(to top, #ffffff, rgba(255, 255, 255, 0)),
    tLayeredGradientToBottom: linear-gradient(to bottom, #ffffff, rgba(255, 255, 255, 0)),
    tRadioIndicatorBackgroundColor: #ffffff,
    tToastBackground: rgba(25, 31, 40, 0.54),
    tDarkFillButtonBackground: #4e5968,
    tPrimaryWeakButtonBackground: #e8f3ff,
    tDangerWeakButtonBackground: #ffeeee,
    tDarkWeakButtonBackground: #f2f4f6,
    tLightWeakButtonBackground: rgba(222, 222, 255, 0.19),
    tButtonPressedAfterBackground: transparent,
    tPrimaryWeakButtonPressedBackground: rgba(49, 130, 246, 0.26),
    tDangerWeakButtonPressedBackground: rgba(244, 67, 54, 0.26),
    tDarkWeakButtonPressedBackground: rgba(78, 89, 104, 0.26),
    tLightWeakButtonPressedBackground: rgba(255, 255, 255, 0.26),
    tBlueBadgeColor: #1b64da,
    tBlueBadgeBackground: rgba(49, 130, 246, 0.29),
    tTealBadgeColor: #0c8585,
    tTealBadgeBackground: rgba(16, 149, 149, 0.29),
    tGreenBadgeColor: #029359,
    tGreenBadgeBackground: rgba(3, 178, 108, 0.21),
    tRedBadgeColor: #d22030,
    tRedBadgeBackground: rgba(240, 68, 82, 0.21),
    tYellowBadgeColor: #dd7d02,
    tYellowBadgeBackground: rgba(255, 195, 66, 0.29),
    tGreyBadgeColor: #4e5968,
    tGreyBadgeBackground: rgba(78, 89, 104, 0.29),
    tSwiperBulletBackground: rgba(232, 232, 253, 0.36),
    tListRowDisabledBackground: rgba(253, 253, 255, 0.75),
    adaptiveShadowMedium: (
        0px 2px 10px rgba(23, 23, 28, 0.05),
        0px 2px 60px rgba(23, 23, 28, 0.05),
    ),
    adaptiveShadowMedium01: 0px 2px 10px rgba(23, 23, 28, 0.05),
    adaptiveShadowMedium02: 0px 2px 60px rgba(23, 23, 28, 0.05),
    adaptiveShadowLarge: (
        0px 10px 30px -3px rgba(78, 89, 104, 0.05),
        0px 15px 80px -5px rgba(78, 89, 104, 0.2),
    ),
    adaptiveShadowLarge01: 0px 10px 30px -3px rgba(78, 89, 104, 0.05),
    adaptiveShadowLarge02: 0px 15px 80px -5px rgba(78, 89, 104, 0.2),
    adaptiveTableBackground: #f9fafb,
);

$dark-colors: (
    adaptiveOpacity50: rgba(209, 209, 253, 0.05),
    adaptiveOpacity100: rgba(217, 217, 255, 0.11),
    adaptiveOpacity200: rgba(222, 222, 255, 0.19),
    adaptiveOpacity300: rgba(224, 224, 255, 0.27),
    adaptiveOpacity400: rgba(232, 232, 253, 0.36),
    adaptiveOpacity500: rgba(242, 242, 255, 0.47),
    adaptiveOpacity600: rgba(248, 248, 255, 0.6),
    adaptiveOpacity700: rgba(253, 253, 255, 0.75),
    adaptiveOpacity800: rgba(253, 253, 254, 0.89),
    adaptiveOpacity900: rgba(255, 255, 255, 1),
    adaptiveDisabledBlue500: rgba(49, 130, 246, 0.2),
    adaptiveBackground: #17171c,
    adaptiveLayeredBackground: #202027,
    adaptiveFloatBackground: #2c2c35,
    adaptiveDimmedBackground: rgba(0, 0, 0, 0.2),
    adaptiveHairlineBorder: #3c3c47,
    adaptiveGreyBackground: #101013,
    adaptiveGrey50: #202027,
    adaptiveGrey100: #2c2c35,
    adaptiveGrey200: #3c3c47,
    adaptiveGrey300: #4d4d59,
    adaptiveGrey400: #62626d,
    adaptiveGrey500: #7e7e87,
    adaptiveGrey600: #9e9ea4,
    adaptiveGrey700: #c3c3c6,
    adaptiveGrey800: #e4e4e5,
    adaptiveGrey900: #ffffff,
    adaptiveGreyOpacity50: rgba(209, 209, 253, 0.05),
    adaptiveGreyOpacity100: rgba(217, 217, 255, 0.11),
    adaptiveGreyOpacity200: rgba(222, 222, 255, 0.19),
    adaptiveGreyOpacity300: rgba(224, 224, 255, 0.27),
    adaptiveGreyOpacity400: rgba(232, 232, 253, 0.36),
    adaptiveGreyOpacity500: rgba(242, 242, 255, 0.47),
    adaptiveGreyOpacity600: rgba(248, 248, 255, 0.6),
    adaptiveGreyOpacity700: rgba(253, 253, 255, 0.75),
    adaptiveGreyOpacity800: rgba(253, 253, 254, 0.89),
    adaptiveGreyOpacity900: #ffffff,
    adaptiveBlue50: #202c4d,
    adaptiveBlue100: #23386a,
    adaptiveBlue200: #25478c,
    adaptiveBlue300: #265ab3,
    adaptiveBlue400: #2970d9,
    adaptiveBlue500: #3485fa,
    adaptiveBlue600: #449bff,
    adaptiveBlue700: #61b0ff,
    adaptiveBlue800: #8fcdff,
    adaptiveBlue900: #c8e7ff,
    adaptiveBlueOpacity50: rgba(52, 133, 250, 0.2),
    adaptiveBlueOpacity100: rgba(52, 133, 250, 0.33),
    adaptiveBlueOpacity200: rgba(52, 133, 250, 0.45),
    adaptiveRed50: #3c2020,
    adaptiveRed100: #562025,
    adaptiveRed200: #7a242d,
    adaptiveRed300: #9e2733,
    adaptiveRed400: #ca2f3d,
    adaptiveRed500: #f04251,
    adaptiveRed600: #fa616d,
    adaptiveRed700: #fe818b,
    adaptiveRed800: #ffa8ad,
    adaptiveRed900: #ffd1d3,
    adaptiveRedOpacity50: rgba(240, 66, 81, 0.2),
    adaptiveRedOpacity100: rgba(240, 66, 81, 0.33),
    adaptiveRedOpacity200: rgba(240, 66, 81, 0.4),
    adaptiveOrange50: #3d2500,
    adaptiveOrange100: #563200,
    adaptiveOrange200: #804600,
    adaptiveOrange300: #a85f00,
    adaptiveOrange400: #cf7200,
    adaptiveOrange500: #f18600,
    adaptiveOrange600: #fd9528,
    adaptiveOrange700: #ffa861,
    adaptiveOrange800: #ffc39e,
    adaptiveOrange900: #ffe4d6,
    adaptiveYellow50: #3d2d1a,
    adaptiveYellow100: #724c1e,
    adaptiveYellow200: #b56f1d,
    adaptiveYellow300: #eb8b1e,
    adaptiveYellow400: #ffa126,
    adaptiveYellow500: #ffb134,
    adaptiveYellow600: #ffc259,
    adaptiveYellow700: #ffd68a,
    adaptiveYellow800: #ffe5b2,
    adaptiveYellow900: #fff1d4,
    adaptiveYellowOpacity50: rgba(235, 139, 30, 0.2),
    adaptiveYellowOpacity100: rgba(235, 139, 30, 0.35),
    adaptiveYellowOpacity200: rgba(235, 139, 30, 0.5),
    adaptiveGreen50: #153729,
    adaptiveGreen100: #135338,
    adaptiveGreen200: #136d47,
    adaptiveGreen300: #138a59,
    adaptiveGreen400: #13a065,
    adaptiveGreen500: #16bb76,
    adaptiveGreen600: #26cf88,
    adaptiveGreen700: #4ee4a6,
    adaptiveGreen800: #82f6c5,
    adaptiveGreen900: #ccffea,
    adaptiveGreenOpacity50: rgba(22, 187, 118, 0.2),
    adaptiveTeal50: #203537,
    adaptiveTeal100: #224e51,
    adaptiveTeal200: #226368,
    adaptiveTeal300: #247e85,
    adaptiveTeal400: #26939a,
    adaptiveTeal500: #2eaab2,
    adaptiveTeal600: #43bec7,
    adaptiveTeal700: #65d4dc,
    adaptiveTeal800: #9be8ee,
    adaptiveTeal900: #d6fcff,
    adaptivePurple50: #3f2447,
    adaptivePurple100: #522361,
    adaptivePurple200: #66247b,
    adaptivePurple300: #7b2595,
    adaptivePurple400: #962fb5,
    adaptivePurple500: #ae3dd1,
    adaptivePurple600: #c353e5,
    adaptivePurple700: #d77cf2,
    adaptivePurple800: #eaacfc,
    adaptivePurple900: #f6d9ff,
    adaptiveBackgroundDimmed: rgba(0, 0, 0, 0.56),
    adaptiveBackgroundLevelB01: #101013,
    adaptiveBackgroundLevel01: #202027,
    adaptiveBackgroundLevel02: #2c2c35,
    adaptiveBackgroundLevel03: #3c3c47,
    adaptiveBackgroundLevel04: #4d4d59,
    adaptiveBackgroundScreen: #101013,
    tGradientToTop: linear-gradient(to top, #17171c, rgba(23, 23, 28, 0)),
    tGradientToBottom: linear-gradient(to bottom, #17171c, rgba(23, 23, 28, 0)),
    tGradientToRight: linear-gradient(to right, #17171c, rgba(23, 23, 28, 0)),
    tGradientToLeft: linear-gradient(to left, #17171c, rgba(23, 23, 28, 0)),
    tLayeredGradientToTop: linear-gradient(to top, #202027, rgba(32, 32, 39, 0)),
    tLayeredGradientToBottom: linear-gradient(to bottom, #202027, rgba(32, 32, 39, 0)),
    tRadioIndicatorBackgroundColor: #4d4d59,
    tToastBackground: rgba(217, 217, 255, 0.11),
    tDarkFillButtonBackground: #4d4d59,
    tPrimaryWeakButtonBackground: rgba(217, 217, 255, 0.11),
    tDangerWeakButtonBackground: rgba(217, 217, 255, 0.11),
    tDarkWeakButtonBackground: rgba(217, 217, 255, 0.11),
    tLightWeakButtonBackground: rgba(217, 217, 255, 0.11),
    tButtonPressedAfterBackground: rgba(0, 0, 0, 0.26),
    tPrimaryWeakButtonPressedBackground: rgba(217, 217, 255, 0.11),
    tDangerWeakButtonPressedBackground: rgba(217, 217, 255, 0.11),
    tDarkWeakButtonPressedBackground: rgba(217, 217, 255, 0.11),
    tLightWeakButtonPressedBackground: rgba(217, 217, 255, 0.11),
    tBlueBadgeColor: #1b64da,
    tBlueBadgeBackground: rgba(49, 130, 246, 0.29),
    tTealBadgeColor: #0c8585,
    tTealBadgeBackground: rgba(16, 149, 149, 0.29),
    tGreenBadgeColor: #029359,
    tGreenBadgeBackground: rgba(3, 178, 108, 0.21),
    tRedBadgeColor: #d22030,
    tRedBadgeBackground: rgba(240, 68, 82, 0.21),
    tYellowBadgeColor: #dd7d02,
    tYellowBadgeBackground: rgba(255, 195, 66, 0.29),
    tGreyBadgeColor: #4e5968,
    tGreyBadgeBackground: rgba(78, 89, 104, 0.29),
    tSwiperBulletBackground: rgba(0, 25, 54, 0.31),
    tListRowDisabledBackground: rgba(23, 23, 28, 0.7),
    adaptiveShadowMedium: (
        0px 2px 10px rgba(0, 0, 28, 0.2),
        0px 2px 60px rgba(0, 0, 28, 0.2),
    ),
    adaptiveShadowMedium01: 0px 2px 10px rgba(0, 0, 28, 0.2),
    adaptiveShadowMedium02: 0px 2px 60px rgba(0, 0, 28, 0.2),
    adaptiveShadowLarge: (
        0px 10px 30px -3px rgba(0, 0, 0, 0.15),
        0px 15px 80px -5px rgba(0, 0, 0, 0.35),
    ),
    adaptiveShadowLarge01: 0px 10px 30px -3px rgba(0, 0, 0, 0.15),
    adaptiveShadowLarge02: 0px 15px 80px -5px rgba(0, 0, 0, 0.35),
    adaptiveTableBackground: #1b1b21,
);

:root {
    @include setGlobalColors($light-colors);
    @include setColorClass($light-colors);
}

@media (prefers-color-scheme: dark) {
    :root {
        @include setGlobalColors($dark-colors);
        @include setColorClass($light-colors);
    }
}